@{
    ViewBag.Title = "Cargar usuario";
}
<div class="userpanel">
  <form method="post" action="/User/Create">
    <h2>Cargar usuario</h2>
    <div style="display: inline-flex;">
      <div style="display: inline-block;">
        <label for="firstName">Nombre</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="">
      </div>
      <div>
        <label for="lastName">Apellido</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="">
      </div>
    </div>
    <div>
      <div style="float: left;">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="" placeholder="">
      </div>
      <div style="float: right;">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" id="city" name="city" value="" placeholder="">
      </div>
    </div>
    <div style="float: left;">
      <label for="country">País</label>
      <input type="text" class="form-control" id="country" name="country" value="" placeholder="">
    </div>
    <div style="clear:both;">
      <button type="submit" class="button-principal">Guardar</button>
    </div>
    
  </form>
</div>
