@{
    ViewBag.Title = "Contact";
}

  <div class="form-dialog contact-panel">
    <h2>Trabajo Grupal Integrador</h2>
    <br />
    <h3>Materia: Lenguaje de Programación de ultima generación</h3>
    <br />
    <h3>Equipo IV</h3>
    <br />
    <h3>Integrantes:</h3>
    <br />
    <address>
      <strong>Kowalczuk Alexis:</strong> <a href="mailto:AlexisRK5@gmail.com">AlexisRK5@gmail.com</a>
      <br />
      <strong>Horvath Luciano:</strong> <a href="mailto:lucianohorvath94@gmail.com">lucianohorvath94@gmail.com</a>
      <br />
      <strong>Fernandez Nicolas:</strong> <a href="mailto:nikofernandez223@gmail.com">nikofernandez223@gmail.com</a>
    </address>
  </div>