<div class="example">
	
	<form action="/" method="post">
		<h2>Formulario Ejemplo</h2>

		<br />
		<label for="number">Number</label>
		<br />
		<input name="number" type="text" placeholder="test number" class="input-text" />

		<br />
		<label for="checkItem">Check Button</label>
		<br />
		<input name="checkItem" type="checkbox" class="input-checkbox" />

		<br />
		<label for="radio">Radio</label>
		<br />

		<input name="radio" type="radio" class="input-radius" />
		<label for="radio">Opcion 1</label>

		<br />

		<input name="radio" type="radio" class="input-radius" />
		<label for="radio">Opcion 2</label>
		<br />

		<br />
		<input name="submit" type="submit" value="Submit" class="button-principal" />
	</form>
	
</div>